@model IEnumerable<Fitness_Center.Models.Customer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminDashbord.cshtml";

}

<h1>Add Member</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lname)
            </th>
            @* <th> *@
            @*     @Html.DisplayNameFor(model => model.ImagePath) *@
            @* </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subscription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lname)
            </td>
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item.ImagePath) *@
            @* </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subscription.Id)
            </td>
            <td>
                    <img src="@Url.Content("~/Images/" + item.ImagePath)" alt="Customer Image" style="width: 100px;" />
                </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-warning">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
